.wrapper {
    .contact-section {
      // margin: 5% 0px;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      background-image: url('../../../assets/bg.jpg');
      background-size: cover;
      .container {
        max-width: 400px;
        .card {
          box-shadow: 2px 2px 35px -18px #323c8d;
          border-radius: 10px;
          .card-header {
            background-color: #fff;
            .logo {
              text-align: center;
              img {
                height: 70px;
              }
            }
          }
          .card-body {
            padding: 0;
            .form-group-wrap {
              // padding: 115px 85px;
              padding: 40px 0;
              .logo {
                text-align: center;
              }
              h4 {
                text-align: center;
                height: 100%;
                flex-direction: column;
                display: flex;
                // justify-content: center;
                // align-items: center;
                margin-bottom: 40px;
                text-transform: uppercase;
                font-size: 28px;
                color: #266ace;
                font-weight: 600;
              }
              img {
                // width: 150px;
                height: 70px;
                display: block;
                text-align: center;
                margin: auto;
                margin-bottom: 30px;
              }
              label {
                font-size: 14px;
                font-weight: 700;
                i {
                  color: #de0505;
                  font-size: 7px;
                }
              }
  
              input.form-control {
                border-radius: 5px;
                background-color: #f5f5ff;
                width: 100%;
                height: 40px;
                font-size: 14px;
                padding: 10px;
                box-shadow: none;
                outline: none;
                // margin-bottom: 30px;
                // text-transform: uppercase;
              }
              span.error {
                color: #dc3545;
                font-size: 13px;
              }
  
              .remember {
                input {
                  background: #ebebeb none repeat scroll 0 0;
                  border: 1px solid #e1e1e1;
                  // float: left;
                  margin-right: 6px;
                  width: 15px;
                  margin-top: 3px;
                }
                p {
                  color: #656767;
                  display: inline-block;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                }
                a {
                  color: #266ace;
                  float: right;
                  font-size: 14px;
                  font-weight: 500;
                  text-decoration: none;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
  
              button.btn.btn-primary {
                outline: none;
                border: none;
                box-shadow: none;
                border-radius: 50px;
                width: 130px;
                height: 40px;
                background-color: #28b8e8;
                background-image: linear-gradient(to right, #2cbae7, #0f347d);
                margin: auto;
                display: block;
                text-transform: capitalize;
                text-transform: uppercase;
                font-size: 14px;
                color: white;
  
                // &:hover {
                //   &:hover {
                //     background: #134ea2;
                //     color: #fff;
                //     border: 1px solid #134ea2;
                //   }
                //   // border: none;
                // }
              }
              .btn:disabled {
                cursor: not-allowed;
              }
  
              .register-page {
                display: flex;
                margin-top: 20px;
                p {
                  padding-right: 10px;
                  font-size: 14px;
                  font-weight: 700;
                }
                a {
                  color: #266ace;
                  font-size: 14px;
                }
              }
              // ::placeholder {
              //   color: blue;
              // }
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 992px) {
    .wrapper {
      .contactus {
        h2 {
          font-size: 40px;
        }
      }
      .contact-section {
        .form-group-wrap {
          h4 {
            font-size: 26px !important;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      .contact-section {
        .form-group-wrap {
          padding: 30px !important;
          h4 {
            font-size: 22px !important;
          }
  
          // input.form-control {
          // }
          // .remember {
          // }
          button.btn.btn-primary {
            margin: 20px 0 !important;
            width: 100% !important;
            font-size: 13px;
          }
          .register-page {
            display: block !important;
            margin-top: 0px !important;
            p {
              margin-bottom: 0px !important;
            }
          }
        }
      }
      .contactus {
        h2 {
          font-size: 28px !important;
        }
      }
      .background-image {
        min-height: 120px !important;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper {
      .contact-section {
        .form-group-wrap {
          h4 {
            font-size: 16px !important;
          }
          label {
            font-size: 13px !important;
          }
          .remember {
            span {
              display: flex !important;
            }
            a {
              float: left !important;
              font-size: 13px !important;
            }
            p {
              font-size: 13px !important;
            }
          }
          .register-page {
            p {
              font-size: 13px !important;
            }
            a {
              font-size: 13px !important;
            }
          }
          button.btn.btn-primary {
            width: 100% !important;
            font-size: 13px !important;
          }
        }
      }
      .contactus {
        h2 {
          font-size: 22px !important;
        }
      }
      .background-image {
        min-height: 120px !important;
      }
    }
  }
  