<!-- <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats c1">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4" [routerLink]="['/admin/userDetails']">
              <div class="icon-big text-center icon-warning">
                <p class="card-category">Product Details</p>
              </div>
            </div>
           
          </div>
        </div>
       
      </div>
    </div>
 </div>    -->
 <div class="container"  style="display:flex;height:100vh" [routerLink]="['/admin/userDetails']">
    <button type="submit" class="bstyle"  >Register User </button>
 </div>
